.slider_img {
    height: 500px;
    width: 100%;
}
.carousel {
    margin-bottom: 4rem; 
}
.cardimg{
    height: 225px; 
    width: 100%;
}
.soc img,.copyright img{
    height: 50px;
    width: 50px;
}
a,a:hover {
    color: #000;
    text-decoration: none;
}


